---

---
<about class="mt-20">
    <div class='flex flex-col justify-around content-center  about'>
        <h2 class="text-5xl font-bold mb-5">About</h2>
        <div class='flex'>
            <div class="w-32 h-1 bg-blue-500 rounded mt-3 mr-3"></div>
            <div class="text-xl">
                Como autodidacta y emprendedor, he logrado realizar con éxito una variedad de proyectos complejos, desde la planificación hasta la implementación. 
                Soy capaz de encontrar soluciones creativas a los desafíos y de <span class='text-blue-400'>trabajar eficazmente en equipo</span>, utilizando mis habilidades de comunicación y liderazgo. 
                Además, mi compromiso con la puntualidad y mi visión estratégica me permiten siempre cumplir con los plazos y alcanzar resultados sobresalientes.
            </div>
        </div>
    </div>
</about>
<style>
    about{
        background-color: #31333b;
    }
    .about {
        margin: auto;
        width: 100%;
		max-width: 1024px;
	}
</style>
