---
import Layout from '../layouts/Layout.astro';
---

<Layout title="hruiz developer">
	<main>
		<div class='flex justify-between content-center items-center header'>
            <div><img src="https://www.hruiz.com/img/logo-hruiz.png" class="w-28"/></div>
            <div>
                <ul class='flex gap-5'>
                    <li><a href="/">INICIO</a></li>
                    <li><a href="/hobbies">CONOCIMIENTOS</a></li>
                    <li><a href="/projects">PROYECTOS</a></li>
                </ul>
            </div>
            <div></div>
        </div>
	</main>
</Layout>

<style>
    main{
		background-color: #34353a;
        padding-top: 1.25rem;
    }
	.header {
		height: 100px;
        margin: auto;
        width: 100%;
		max-width: 1024px;
	}
</style>
